{% extends 'fromsapp/base.html' %}

{% block content %}



<div class="jumbotron">
    {% if name_convert %}
      <h1>{{ name_convert }}</h1>
      <hr class="my-4">
    {% endif %}
    <dIv class="row d-flex flex-row">

      <div id='img' class="col-md">

        {% if item_image != '' %}

          <img src="{{ item_image }}" class="img-fluid" alt="Responsive image"height="auto"  .max-width="100%">

        {% else %}

          <p>No image found</p>

        {% endif %}

      </div>

      <div class="col-md d-flex flex-column justify-content-between">

        <div id="result" class="">
          {% if result and converted_price %}

            <p>{{ result }} for: {{ converted_price }}</p>

          {% endif %}

          <hr class="my-4">

          {% if descriptions %}

            <p>{{ descriptions }}</p>

          {% endif %}

        </div>

        <hr class="my-4">

        <div id='prices' class="d-flex flex-column align-self-end">
          {% if converted_price_amazon == 'amazon price not found' %}

          <p>
            {{ converted_price_amazon }}
          </p>

          {% else %}

          <p>
            <a href="{{ url_amazon }}">Amazon price: {{ converted_price_amazon }} </a>
          </p>
          {% endif %}

          {% if converted_price_ldlc == 'LDLC price not found' %}

          <p>
            {{ converted_price_ldlc }}
          </p>

          {% else %}

          <p>
            <a href="{{ url_ldlc }}"> LDLC price: {{ converted_price_ldlc }} </a>
          </p>

          {% endif %}

          {% if converted_price_maxgaming == 'MaxGaming price not found' %}

          <p>
            {{ converted_price_maxgaming }}
          </p>

          {% else %}

          <p>
            <a href="{{ url_maxgaming }}">
              Maxgaming price: {{ converted_price_maxgaming }}</a
            >
          </p>

          {% endif %}
        </div>

      </div>

    </div>

  <hr class="my-4">
  <form action="{% url 'favorites' %}" class="d-flex justify-content-end" method="POST">
    {% csrf_token %} {{ form }}
    <button type="submit" class='btn btn-outline-info' name="button">Ajouter aux Favoris</button>
  </form>

</div>



{% endblock content %}
